*{
  margin: 0;
  padding: 0;
}

ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

section{
  height: 3000px;
  background: beige;
}

.circle-wrap{
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;

}

.circle{
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  background: #fff;
  border-radius: 50%;
}